body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fefefe;
}

.review-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 10px;
    background: #fff3e0;
    border: 2px solid #ff9800;
}

.review-container h2 {
    text-align: center;
    color: black;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

textarea {
    height: 120px;
}

.star-rating span {
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
    margin-right: 5px;
}

.star-rating span.active {
    color: hsl(30, 100%, 50%);
}

.submit-btn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #ff6f00;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #e65100;
}
