
.star {
  font-size: 30px;
  cursor: pointer;
}
.one {
  color: hsl(30, 100%, 40%);
}
.two {
  color: hsl(30, 100%, 40%);
}
.three {
  color: hsl(30, 100%, 40%);
}
.four {
  color: hsl(30, 100%, 40%);
}
.five {
  color: hsl(30, 100%, 40%);
}